#drop-area {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    line-height: 200px;
    font-size: 15px;
    font-family: monospace;
    margin: 50px auto;
  }

  #drop-area:hover
  {
    border: 2px solid #ccc;
    border-radius: 20px;
  }
  
  #drop-area.drag-over{
    background-color: rgba(0, 0, 0, 0.1);
  }
  #drop-area.drop-over{
    background-color: rgba(0, 0, 0, 0.5);
  }
